.App {
	text-align: center;
	color: #9E1B32;
}
.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
.App-link {
	color: #61dafb;
}

body{ 
  margin:0; 
  font:normal 75% Arial, Helvetica, sans-serif;
  background-color: #999999; 
} 

h1{
  font-family: 'Lucida Console';
}

canvas{ 
  display: block; 
} 


.card{
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 1rem; 
  border-color: white; 
  background-color: gray; 
  /* backdrop-filter: blur(16px); */
  height: 300px;
  width: 300px;
  padding-top: 50px;
}

#jumbotron{
  background-color: #9E1B32;
}

#icon_available{
  color: #019875;
  text-align: center;
  size: 100px;
  font-display: 4px;

}

#icon_unavailable{
  color: #9E1B32;
  text-align: center;
  size: 100px;
  font-display: 4px;

}

img{
  width: 80%;
  height: auto;
}



/* .nav-pills{
  width: 450px;
  }
  .nav-item{
  width: 50%;
  }
  .nav-pills .nav-link{
  font-weight: bold;
  padding-top: 13px;
  text-align: center;
  background: #343436;
  color: #fff;
  border-radius: 30px;
  height: 100px;
  }
  .nav-pills .nav-link.active{
  background: #fff;
  color: #000;
  } */
  .tab-content{
  background: #9E1B32;
  color: #000;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
  }
  /* .tab-content button{
  border-radius: 15px;
  width: 100px;
  margin: 0 auto;
  float: right;
  } */

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
